<form class="example-form">

  <mat-form-field class="example-full-width">
    <input type="number" placeholder="Pick a User Id" aria-label="Number" matInput [formControl]="idControl" [matAutocomplete]="auto1">
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let option of filteredIdOptions | async" [value]="option.userId">
        {{option.userId}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick a random latin phrase" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title">
        {{option.title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>

<div *ngFor="let item of opts" [id]="item.title">
  {{item.title}}
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->